version: 2.1
orbs:
  # defined at https://github.com/snowdrop/circleci-orbs
  # needs to have been published before being used here
  openshift: snowdrop/openshift@0.4.0
jobs:
  openshift311:
    machine: true

    steps:
    - checkout

    - run:
        name: Check of commit is from Maven Release Plugin
        command: |
          commit_message=$(git log -1 --pretty=%B)
          if [[ ${commit_message} =~ ^\[maven-release-plugin\].* ]]; then
            echo "Commits from the maven-release-plugin don't trigger a regular CI build"
            circleci step halt
          fi


    # based on this: https://discuss.circleci.com/t/circle-2-0-caching-is-too-limited-to-be-very-useful/11694/10
    - restore_cache:
        keys:
          - snowdrop-dependencies-{{ .Branch }}-{{ checksum "pom.xml" }}
          - snowdrop-dependencies-{{ .Branch }}
          - snowdrop-dependencies

      # Will download all deps needed into .m2
    - run:
        name: Check all dependencies are available and store them locally
        command: |
          sed -i.bak -e "s/<dependencyManagement>//g" pom.xml
          sed -i -e "s/<\/dependencyManagement>//g" pom.xml
          mvn dependency:tree
          mv pom.xml.bak pom.xml

    - run:
        name: Install snowdrop-dependencies locally
        command: mvn install

    - run:
        name: Download testsuite
        command: |
          parent_version=$(mvn -s .circleci/settings.xml -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive exec:exec)

          pushd /tmp
          git clone --single-branch -b 2.2.x https://github.com/snowdrop/testsuite.git
          cd testsuite

          echo "Setting testsuite parent version to ${parent_version}"
          # Update the first occurance of a version tag (parent)
          awk "NR==1,/<version>.*<\/version>/{sub(/<version>.*<\/version>/, \"<version>${parent_version}<\/version>\")} 1" pom.xml > pom.xml-tmp
          mv pom.xml-tmp pom.xml

          # Done in order to cache maven artifacts
          # Can't use 'mvn dependency:go-offline'. See https://stackoverflow.com/q/14694139/2504224
          mvn -s ~/project/.circleci/settings.xml install -DskipTests

          popd

    - run:
        name: Download rest-http-example
        command: |
          parent_version=$(mvn -s .circleci/settings.xml -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive exec:exec)

          pushd /tmp
          git clone --single-branch -b sb-2.2.x https://github.com/snowdrop/rest-http-example.git
          cd rest-http-example

          echo "Setting rest-http-example parent version to ${parent_version}"
          # Update the first occurance of a version tag (parent)
          awk "NR==1,/<version>.*<\/version>/{sub(/<version>.*<\/version>/, \"<version>${parent_version}<\/version>\")} 1" pom.xml > pom.xml-tmp
          mv pom.xml-tmp pom.xml

          # Done in order to cache maven artifacts
          ./mvnw -s ~/project/.circleci/settings.xml dependency:go-offline

          popd

    - save_cache:
        paths:
        - ~/.m2
        key: snowdrop-dependencies-{{ .Branch }}-{{ checksum "pom.xml" }}

    - openshift/launch_openshift:
        version: "3.11"

    - run:
        name: Test rest-http-example
        command: |
          pushd /tmp/rest-http-example
          ./mvnw -s ~/project/.circleci/settings.xml clean verify -Popenshift,openshift-it
          popd

    - run:
        name: Launch testsuite
        command: |
          pushd /tmp/testsuite
          oc policy add-role-to-user view -z default
          mvn -s ~/project/.circleci/settings.xml clean verify -Popenshift
          popd

workflows:
  version: 2
  build_and_test:
    jobs:
      - openshift311:
        filters:
          branches:
            ignore:
            - master
